---
layout: default
section_id: home
slides:
  - bg: images/splash.jpg
    title:
      text: Intelligence Engineering Lab.
      animation: bottom-to-top
      class: medium-12
    small-title:
      text: Our laboratory conducts researches on Large-scale data Engineering, Data mining & Knowledge Discovery, Distributed and Parallel Query Processing, Deep Learning, Spatio-temporal Data analysis, and Biomedical Text Mining.
      animation: bottom-to-top
      class: medium-12
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: News
          url: /news
          class: boxed
        - text: Contact Us
          url: /about.html
boxes:
  - icon_class: fa fa-trophy
    title: Design
    text: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-compass
    title: Art direction
    text: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-star-half-empty
    title: Branding
    text: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-image
    title: Photography
    text: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-dot-circle-o
    title: Marketing
    text: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.

testimonials:
  - text: "OUR PAPER GOT ACCEPTED TO ACM MULTIMEDIA 2021!"
    author: Woosung Choi, Minseok Kim
    position: PH.D. Candidates
  - text: "2021 한국연구재단 중견연구자지원사업 '딥러닝 기반의 다중음원 오디오에 대한 음원선별적 편집 모델 연구'선정"
    author: 정순영
    position: 지도교수
  - text: "2020 한국연구재단 중견연구자지원사업 '다양한 음향신호처리에 범용적 적용이 가능한 신경망 기반 스펙트로그램 변환블록 연구' 선정"
    author: 정순영
    position: 지도교수
---

<div class="advanced mod modDefaultSlider">
  <div class="sequence" data-autostop="on" data-timeout="0">
    <ul class="sequence-canvas">
      {% for slide in page.slides %} {% if forloop.index == 1 %} {% assign class
      = "static" %} {% else %} {% assign class = '' %} {% endif %}

      <li class="frame {{class}}">
        <div class="bg" style="background-image: url({{slide.bg}});"></div>
        {% if slide.infos %} {% for info in slide.infos %}
        <div class="info{{forloop.index}} {{info.animation}}" style="">
          <div class="row">
            <div class="medium-10 large-8 columns">
              <p class="fa fa-check" style="color: #333;">{{info.text}}</p>
              <div class="spacing"></div>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div
          class="title {{slide.title.animation}}"
          style="color: rgb(255, 255, 255);"
        >
          <div class="row">
            <div class="{{slide.title.class}} columns">
              <h2>{{slide.title.text}}</h2>
            </div>
          </div>
        </div>
        {% endif %} {% if slide.small-title %}
        <div
          class="small-title {{slide.small-title.animation}}"
          style="color: rgb(255, 255, 255);"
        >
          <div class="row">
            <div class="{{slide.small-title.class}} columns">
              <p>{{slide.small-title.text}}</p>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="buttons-wrapper {{slide.buttons.animation}}" style="">
          <div class="row">
            <div class="{{slide.buttons.class}} columns">
              <div class="two spacing"></div>
              {% for button in slide.buttons.items %}
              <a
                target="_blank"
                class="button {{button.class}}"
                href="{{button.url}}"
                >{{button.text}}</a
              >
              {% endfor %}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="full">
  <div class="row">
    <div class="large-12 columns">

		<h4 style="color: #999">Notice</h4>
    	<h2>We are currently participating in Sound Demixing Challenge 2023 (sponsered by Sony) </h2>
    	<div class="spacing"></div>
    	<p>
        Music Demixing Track: Build A System To perform Audio Source Separation <br> Wish us good luck!
    	</p>

    <h4 style="color: #999">Notice</h4>
		<h2>Two silver medals at SONY MDX CHALLENGE @ ISMIR 2021!</h2>
		<div class="spacing"></div>
		<p>
		We proposed KUIELAB-MDX-Net, an hybrid architecture based on TFC-TDF-U-Net and Facebook’s Demucs, and we won two silver medals."
		[<a href="https://kuielab.github.io/news/2021/08/21/sony-mdx.html">more information</a>]
		</p>

		<h4 style="color: #999">Notice</h4>
		<h2>Our paper has been accepted to ACM MULTIMEDIA 2021!</h2>
		<div class="spacing"></div>
		<p>
			"AMSS-Net: Audio Manipulation on User-Specified Sources with Textual Queries"

		[<a href="https://kuielab.github.io/AMSS-Net/">demo</a>]
		[<a href="https://github.com/kuielab/AMSS-Net/">github</a>]
		[<a href="https://kuielab.github.io/news/2021/07/04/AMSS-Net.html">more information</a>]
		</p>

		<h4 style="color: #999">Notice</h4>
		<h2>Our paper got accepted to ICASSP 2021!</h2>
		<div class="spacing"></div>
		<p>
		Our paper "LaSAFT: Latent Source Attentive Frequency Transformation for Conditioned Source Separation" got accepted to 2021 IEEE International Conference on Acoustics, Speech and Signal Processing!
		[<a href="https://lasaft.github.io/">demo</a>]
		[<a href="https://github.com/ws-choi/Conditioned-Source-Separation-LaSAFT">github</a>]
		[<a href="http://intelligence.korea.ac.kr/news/2021/02/01/choi.html">more information</a>]
		</p>


		<h4 style="color: #999">Notice</h4>
		<h2>OUR PAPER GOT ACCEPTED TO ISMIR 2020!</h2>
		<div class="spacing"></div>
		<p>
		Our Paper “Investigating U-Nets with various Intermediate Blocks for Spectrogram-based Singing Voice Separation” got accepted to ISMIR(International Society for Music Information Retrieval Conference)!
		[<a href="https://colab.research.google.com/github/ws-choi/ISMIR2020_U_Nets_SVS/blob/master/colab_demo/TFC_TDF_17_demo.ipynb">link1: COLAB Demonstration</a>],
		[<a href="http://intelligence.korea.ac.kr/news/2020/07/22/choi.html">link2: more information</a>]
		</p>

	</div>


  </div>
  <div class="three spacing"></div>
</div>

<!-- <div class="full" style="background: #f5f5f5">
  <div class="row">
    <div class="large-12 columns">
      <h2>Our Research</h2>
      <div class="spacing"></div>
      <p>
        TODO: 최종 배포 시 이 부분 주석 처리
      </p>
      <div class="mod modBoxedTextSlider">
        <div class="boxes">
          {% for box in page.boxes %}
          <div class="box" style="">
            <i class="{{box.icon_class}}"></i>
            <h4>{{box.title}}</h4>
            <p>{{box.text}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div> -->

<div class="full">
  {% assign category = "on-going-research" %} {% assign recentsOnGoingResearch =
  site.categories[category] | sort: "date" | reverse %}

  <div class="row">
    <div class="medium-6 columns">
      <img
        class="fadeinleft"
        width="500"
        height="340"
        alt=""
        src="{{ recentsOnGoingResearch[0].image | default: '/images/@stock/circle-1.png' }}"
      />
    </div>
    <div class="medium-6 columns">
      <h4 style="color: #999">Ongoing Research Topic</h4>
      <h2>{{recentsOnGoingResearch[0].title}}</h2>
      <div class="spacing"></div>
      <p>
        <p>{{recentsOnGoingResearch[0].excerpt}}</p>
      </p>
      <div class="spacing"></div>
      <a class="button small color" href="{{recentsOnGoingResearch[0].url}}">Learn more</a>
    </div>
  </div>
  <div class="four spacing"></div>

  <div class="row">
    <div class="medium-6 columns">
      <h4 style="color: #999">Ongoing Research Topic</h4>
      <h2>{{recentsOnGoingResearch[1].title}}</h2>
      <div class="spacing"></div>
      <p>
        <p>{{recentsOnGoingResearch[1].excerpt}}</p>
      </p>
      <div class="spacing"></div>
      <a class="button small color" href="{{recentsOnGoingResearch[1].url}}">Learn more</a>
    </div>
    <div class="medium-6 columns">
      <img
        class="fadeinright"
        width="500"
        height="400"
        alt=""
        src="{{recentsOnGoingResearch[1].image | default: '/images/@stock/circle-1.png' }}"
      />
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="full parallax" style="background: #f5f5f5">
  <div class="row">
    {% for milestone in page.milestones %}
    <div class="medium-3 large-3 columns right-border left-border">
      <div class="mod modMilestone no-icon">
        <strong data-from="{{milestone.from}}" data-to="{{milestone.to}}"
          >&nbsp;</strong
        >
        <span>{{milestone.title}}</span>
        <div class="spacing"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<div class="full no-padding" style="background: #444; color: #fff">
  <div class="two spacing"></div>
  <div class="mod modCallToAction">
    <div class="row">
      <div class="medium-9 large-9 columns">
        <p>
          If you would like to get further information regarding our lab?
        </p>
      </div>
      <div class="medium-3 large-3 columns">
        <a class="boxed button" href="/about.html">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <p class="centered-text">
        <i
          class="fa fa-quote-left"
          style="color: #F9CE06; font-size: 36px;"
        ></i>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="mod modTestimonials">
        <div class="row">
          <div class="small-12 columns">
            <div class="items centered-text">
              {% for t in page.testimonials %}
              <div class="item">
                <p class="quote">{{t.text}}</p>
                <p class="author">- {{t.author}}, {{t.position}}</p>
                <div class="two spacing"></div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="spacing"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div>
