---
layout: default
section_id: people

people:
  - position: Professor
    members:
      - name: 정순영 교수님
        position: 고려대학교 이과대학 전산과학 박사
        avatar: images/avatar/sunyoung-jeong.jpg
        email: jsy@korea.ac.kr
        blog: http://intelligence.korea.ac.kr/jsy.html
  - position: PH.D. Course
    members:
      - name: MinSeok Kim(김민석)
        position: PH.D. Course
        research: Machine Learning, Music Source Separation, Deep Generative Models
        avatar: images/avatar/minseok-kim.jpg
        email: rlaalstjr47@korea.ac.kr
      - name: Jun Hyung Lee(이준형)
        position: PH.D. Course
        research: Machine Learning, Music Source Separation, Deep Generative Models
        avatar: images/avatar/jun1.jpg
        email: junicus@korea.ac.kr
      - name: Changsik Kang(강창식)
        position: PH.D. Course
        research: Industrial AI in Manufacturing
        currently: Korea Imagineering
        avatar: images/avatar/changsik1.jpg
        email: class9@korea.ac.kr
      - name: Joonseok Oh(오준석)
        position: PH.D. Course
        research: Deep Learning, Data Analysis, Secure Software Development
        currently: SK Telecom
        avatar: images/avatar/joonseok3.jpg
        email: troyjoonseok@korea.ac.kr
      - name: Kyoung Seok Hyun(현경석)
        position: PH.D. Course
        research: Spatio-temporal database, Indexing & query processing, Machine Learning
        avatar: images/avatar/kyoungseok-hyun.png
        email: ks_hyun@korea.ac.kr
  - position: M.S. Course
    members:
      - name: Yoonho Ji(지윤호)
        position: Master Course
        research: Image Classification, Object Detection, Deep Generative Models
        avatar: images/avatar/whale1.jpg
        email: 2022020883@korea.ac.kr
      - name: Jaeyoung Cheong(정재영) 
        position: Master Course
        research: Graph Neural Network
        avatar: images/avatar/jaeyoung3.jpg
        email: musicjae@korea.ac.kr

  - position: PH.D. Alumni
    members:
      - name: Jaehwa Chung(정재화)
        position: PH.D. Alumni
        currently: Prof. @ Korea National Open University
        avatar: images/avatar/jaehwa-chung.jpg
        email: jaehwachung@knou.ac.kr
        blog: https://professor.knou.ac.kr/jaehwachung/index.do?epTicket=LOG
      - name: Kinam Park(박기남)
        position: PH.D. Alumni
        currently: Korea University
        avatar: images/avatar/kinam-park.png
        email: spknn@sch.ac.kr
      - name: Jeongmin Chae(채정민)
        position: PH.D. Alumni
        research: Text mining, Natural Language Processing
        currently: Korea University
        avatar: images/avatar/jeongmin-chae.png
        email: onacloud@gmail.com
        blog: http://tm.withcat.net
      - name: Jongho Jeon(전종호)
        position: PH.D. Alumni
        currently: KRIVET
        avatar: images/avatar/noface.png
        email: mulbit@krivet.re.kr
      - name: Jeongmin Kang(강정민)
        position: PH.D. Alumni
        currently: ETRI
        avatar: images/avatar/jeongmin-kang.jpg
        email: ws_choi@korea.ac.kr
      - name: Younghee Jung(정영희)
        position: PH.D. Alumni
        research: Text mining, Question/Answering System
        avatar: images/avatar/younghee-jung.png
        email: coolof@nate.com
      - name: KyoungHo Jung(정경호)
        position: PH.D. Alumni
        research: Mobile Database Management
        avatar: images/avatar/kyoungho-jung.png
        email: kyounghjung@naver.com
      - name: Hongjun Jang(장홍준)
        position: PH.D. Alumni
        research: Large Scale Data Management, Spatial Databases
        currently: Prof. @ Jeonju Univ.
        avatar: images/avatar/hongjun-jang.jpg
        email: hongjunjang@jj.ac.kr
        blog: https://www.jj.ac.kr/jj/colleges/engin/10-02.jsp
      - name: JeongEun Kim(김정은)
        position: PH.D. Alumni
        avatar: images/avatar/noface.png
        email: marite76@korea.ac.kr
      - name: Woosung Choi(최우성)
        position: PH.D. Alumni
        research: Machine Learning, Signal Processing, Large Scale Data Management, Moving object management
        currently: Sony
        avatar: images/avatar/woosung-choi.png
        email: ws_choi@korea.ac.kr
        

  - position: M.S. Alumni
    members:
      - name: JeongIm Choi(최정임)
        position: M.S. Alumni
        currently: Korea University
        avatar: images/avatar/noface.png
      - name: SeungEun Lee(이승은)
        position: M.S. Alumni
        currently: Kookmin Bank
        avatar: images/avatar/noface.png
      - name: JongHyeon Max Min(민종현)
        position: M.S. Alumni
        research: Quant asset management using AI/Digital, Deep Learning, Time Series Analysis
        currently: Quant asset management @ Shinhan Bank
        avatar: images/avatar/mjh.jpg
        email: jh_m@korea.ac.kr
      - name: KwangMin Lee(이광민)
        position: M.S. Alumni
        avatar: images/avatar/noface.png
        email: kwangmin78@korea.ac.kr
      - name: Taemin Lee(이태민) 
        position: PH.D. Course
        research: Plagiarism detection, Text mining, Trajectory mining
        avatar: images/avatar/taemin-lee.jpg
        email: persuade@gmail.com
      - name: HyunDo Jung(정현도)
        position: M.S. Course
        research: CPS Intelligence, Natural Language Processing, Information Retrieval
        currently: Associate Researcher @ TTA
        avatar: images/avatar/hyundojung_squre.jpg
        email: hd_jung@korea.ac.kr
      - name: Jinsung Kim(김진성)
        position: Master Course
        research: Music Source Separation, Voice Conversion
        currently: LG Innotek
        avatar: images/avatar/jinsung1.jpg
        email: wlstjd2003@korea.ac.kr
      - name: Yeong-Seok Jeong(정영석)
        position: Master Course
        research: Music Source Separation
        currently: LG Innotek
        avatar: images/avatar/noface.png
        email: dnfkdi1995@korea.ac.kr

  - position: Undergrad. Alumni
    members:
      - name: 이원하
        position: Research Intern
        avatar: images/avatar/noface.png
        email: 

---

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h2>People</h2>
      <div class="spacing"></div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns position-tab">
      {% for item in page.people %}
      <a class="position-tab-item" href="#{{item.position}}"
        ><span>{{item.position}}</span></a
      >
      {% endfor %}
    </div>
  </div>

  <div>
    {% for item in page.people %}
    <div class="row">
      <div class="large-12 columns">
        <div class="two spacing"></div>
        <h3 id="{{item.position}}">{{item.position}}</h3>
        <div class="spacing"></div>
      </div>
    </div>

    <div>
      {% for member in item.members %} {% assign remainder = forloop.index |
      modulo: 4 %} {% if remainder == 1 %}
      <div class="row">
        {% endif %}
        <div class="small-12 medium-3 large-3 columns member-item">
          <div class="mod modTeamMember style-2">
            <div class="member">
              <a href="{{member.blog}}" target="_blank"
                ><img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}"
              /></a>
            </div>
            <h3>{{member.name}}</h3>
            <p class="position">{{member.position}}</p>
            {% if member.research %}
            <h5>Research Field</h5>
            <p class="desc">{{member.research}}</p>
            {% endif %} {% if member.currently %}
            <h5>Currently</h5>
            <p class="desc">{{member.currently}}</p>
            {% endif %} {% if member.email %}
            <div class="link">
              <a href="mailto:{{member.email}}">
                <i class="icon fa fa-envelope"></i>
                {{member.email}}
              </a>
            </div>
            {% endif %}{% if member.blog %}
            <div class="link">
              <a href="{{member.blog}}" target="_blank">
                <i class="icon fa fa-home"></i>
                {{member.blog}}
              </a>
            </div>
            {% endif %}
            <div class="two spacing"></div>
          </div>
        </div>
        {% if remainder == 0 %}
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endfor %}
  </div>
  <div class="three spacing"></div>
</div>
