---
layout: default
section_id: people
skills:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61

testimonials:
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-1.png
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-2.png
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-3.png

members:
  - name: Updating
    position: Updating
    desc: Updating
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Updating
    position: Updating
    desc: Updating
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Updating
    position: Updating
    desc: Updating
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Updating
    position: Updating
    desc: Updating
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
---

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h3>People</h3>
      <div class="spacing"></div>
    </div>
  </div>
  <div class="row">
    {% for member in page.members %}
    <div class="small-6 medium-3 large-3 columns">
      <div class="mod modTeamMember style-2">
        <div class="member">
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class="overlay">
            <ul class="socials">
              {% for social in member.socials %}
              <li>
                <a href="{{social.url}}">
                  <i class="{{social.icon_class}}"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class="position">{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class="two spacing"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="three spacing"></div>
</div>
