---
layout: default
section_id: news
---

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h2>News</h2>
      <div class="spacing"></div>

      {% for post in paginator.posts %}
      <div class="big mod modBlogPost no_bg">
        <div class="content">
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p class="excerpt">{{post.excerpt | strip_html }}</p>
          <p class="info">
            <span>{{post.date | date: "%Y.%m.%d" }}</span>
            {% if post.author %}
            <div>
              by <b>{{post.author}}</b>
            </div>
            {% endif %}
          </p>
        </div>
      </div>
      <hr />
      {% endfor %} {% include pagination.html root="news" %}
    </div>
  </div>
  <div class="three spacing"></div>
</div>
