---
layout: news
---

<div class="mod modBlogPost big no_bg">
  <div class="images">
    {% for image in page.images %}
    <div class="image"><img alt="" src="{{site.url}}/{{image}}" /></div>
    {% endfor %}
  </div>
  <div class="content">
    <h3><a href="{{page.url}}">{{page.title}}</a></h3>
    <p class="info">
      <div>{{page.date | date: "%Y.%m.%d" }}</div>
      {% if page.author %}
      <div>
        by <b>{{page.author}}</b>
      </div>
      {% endif %}
    </p>
    <div class="spacing"></div>
    <hr />
    <div class="two spacing"></div>
    {{content}}
  </div>
</div>
<div class="two spacing"></div>
<div class="four spacing"></div>
<div class="four spacing"></div>
